PORT=8001
DB_HOST=localhost
DB_USER=username
DB_PASS=userpassword
DB_NAME=yourdatbasename
DB_PORT=5432

# Uncomment and set to true for Heroku
# DB_SSL=true if heroku

# if using elephant sql, get the db credentials from the following format-
# postgres://username:userpassword@DB_HOST:5432/yourdatbasename

# Google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET